.header{
    background-color: darkgreen;
    width: 100%;
    height: 100px;

}
.left{
    width: 70%;
    color: white;
    height: 100px;
    text-align: center;
    float: left;
}
.right{
    float: left;
    width: 30%;
    height: 100px;
}
